html,body{
	width:100%;
 	height:100%;
 	margin:0;
 	padding:0;
}


/*主页左侧导航栏*/
#hide_show_bg:active{/*菜单栏点击显示按钮背景色*/
	background-color: #cccccc;
}
#home_page{
	font-size: 15px;	
	width:18%;
	height:100%;
	border: 0px solid red;
	background-color:#f5f5f5;
	position:fixed;
	overflow: hidden;
	/*overflow-y: scroll;*/
}
#home_page:hover{
	overflow-y: scroll;
}

.home_page-1::-webkit-scrollbar {/*滚动条*/
    width: 12px;     /*滚动条的宽，瘦胖设置*/
    /*height: 1px;*/
}
.home_page-1::-webkit-scrollbar-thumb {/*滚动条立体感*/
    /*border-radius: 0px;*/
     /*-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);*/
    background: #dcdcdc;

}
.home_page-1::-webkit-scrollbar-track {/*滚动条里面轨道*/
    /*-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);*/
    border-radius: 0px;
    background: #EDEDED;
}    


.home_page home_page-1 svg {
	display: block;
	width: 100%;
	height: 100%;
}

#shouye {
	padding:0 24px 0 24px;
	margin-top:68px;
	width:100%;
	height:40px;
	border: 0px solid red;
    background-color:#e4e4e4; 

}
#shouye > div {
	width:192px;
	height:40px;
	border: 0px solid green;
	display: flex;
	align-items: center;
}
#shouye>div>div:first-child{
	margin-right:24px;
	width:24px;
	height: 24px;
	border: 0px solid red;
	float: left;
}
#shouye>div>div:last-child{
	width:120px;height:25px;
	margin-right:24px;
	border: 0px solid black;
	float:left;
	font-size: 14px;
	line-height: 24px;
}
/*为您推荐*/
#tuijian {
	padding:0 24px 0 24px;
	margin-top:0px;
	width:240px;
	height:40px;
	border: 0px solid red;
	b-ackground-color:#dcdcdc;
}
#tuijian>div {
	width:192px;
	height:40px;
	border: 0px solid green;
	display: flex;
	align-items: center;
}
#tuijian>div>div:first-child{
	margin-right:24px;
	width:24px;
	height: 24px;
	border: 0px solid red;
	float: left;
}
#tuijian >div>div:last-child {
	width:120px;
	height:25px;
	margin-right:24px;
	border: 0px solid black;
	float:left;
	font-size: 14px;
	line-height: 24px;
}
/*收藏夹*/
#shoucang {
	padding:0 24px 0 24px;
	margin:0px 0px 10px 0px;
	width:240px;
	height:40px;
	border: 0px solid red;
	b-ackground-color:#dcdcdc;
}
#shoucang>div {
	width:192px;
	height:40px;
	border: 0px solid green;
	display: flex;
	align-items: center;
}
#shoucang>div>div:first-child{
	margin-right:24px;
	width:24px;
	height: 24px;
	border: 0px solid red;
	float: left;
}

#shoucang >div>div:last-child {
	width:120px;
	height:25px;
	margin-right:24px;
	border: 0px solid black;
	float:left;
	font-size: 14px;
	line-height: 24px;
}
.choice {
	padding-top:8px;
	width:240px;
	height:35px;
	border:0px solid red;
}
.choice div {
	border:0px solid red;
	width:192px;height:19px;
	padding:8px 24px 8px 24px;
}
.choice-content {
	width:240px;
	height:280px;
	border: 0px solid red;
	font-size: 15px;
}
/*七七精选导航的第一个div*/
.choice-content-first-div {
	padding:0 24px 0 24px;
	margin:0px;
	width:240px;
	height:40px;
	border: 0px solid red;
}
.choice-content-first-div >div{
	width:192px;
	height:40px;
	border: 0px solid green;
	display: flex;
	align-items: center;
}
.choice-content-first-div >div>div:first-child {
	margin-right:24px;
	width:24px;
	height: 24px;
	border: 0px solid red;
	float: left;
}
.choice-content-first-div >div>div:last-child {
	width:120px;
	height:25px;
	margin-right:24px;
	border: 0px solid black;
	float:left;
	font-size: 15px;
	line-height: 24px;
	font-size: 14px;
}

a{text-decoration:none;color:black;}  
a:hover {text-decoration:none;color:red;}  
.choice-content-first-div:hover {color:red;background-color:#cccccc;} 
.jq-dom-bkcolor:hover{color:red;background-color:#cccccc;}

.jq-dom-bkcolor:hover svg{fill:red;}

.choice-content img {
	height:24px;
	width:24px;
	border-radius:50%;
}
.copyright {
	border:0px solid black;
	width:100%;
	padding:0 0 0 10px;
	l-ine-height: 24px;
	margin: 130% 0 30px 0;
	font-size:12px;
	color: black;
	align-items: center;
}


/*菜单栏图标css3动画效果*/
.noDataImg{
    -webkit-transform: rotate(360deg);
    animation: rotation 2s linear infinite;
    -moz-animation: rotation 2s linear infinite;
    -webkit-animation: rotation 2s linear infinite;
    -o-animation: rotation 2s linear infinite;
  }
  @-webkit-keyframes rotation{
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
  }
